#img {
  top: 100px; }

body {
  background: url("../img/cabin2.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1; }
  #game #left #right {
    height: 100%;
    width: 100%; }
  #game .btn {
    margin-top: 125px; }

.img-ch{
height: 100px;
width: 100px;
    }
